#edit-new-rule > .fieldset__wrapper {
  margin-block: .75rem;
}

.pvs-group-top {
  display: flex;
  flex-wrap: wrap;
}
.pvs-group-top > fieldset {
  min-width: 340px;
}
.pvs-group-top .fieldset--group {
  margin-inline-end: 1rem;
}
.pvs-group-top h2 {
  width: 100%;
  margin-block: 0;
}

#permissions-visibility-filter-config-form .form-item--permission {
  margin-block: 0;
}

.condition-item input.button {
  padding-block: .4rem;
}
